/*!
  * $Id: bookingbanner.css 2020-11-06 11:56:53 +0000 Stefan Seiz  9da9733c50a8c53d4e6a8b6ba84f5db788f4bd89 $
  * Copyright Zeta Software GmbH 2017
  */
 
.zpboba-widget{
	position: relative;
	z-index: 7010;
	overflow: visible !important;
}
.zppreview .zpboba-widget{
	/* otherwise IE-Overlays don't show on hover*/
	z-index: auto;
}

.zpboba-widget .zpboba-button a.zpbobaclose{
	color: inherit !important;
	background-color: transparent;
	text-decoration: none;
	font-weight: normal;
	position: absolute;
	bottom: 0;
	right:  0;
	line-height: 1; 
	padding: 4px;
	opacity: 0.5;
}
.zpboba-widget .zpboba-button a.zpbobaclose:hover{
	background-color: rgba(0,0,0,0.2);
}


.zpboba-hor-align{
	position: absolute;
}
.zpboba-hor-align.topcl, 
.zpboba-hor-align.bottomcl{
	left: 0;
	right: auto;
}
.zpboba-hor-align.topcr, 
.zpboba-hor-align.bottomcr{
	left: auto;
	right: 0;
}

.zpboba-button{
	box-sizing: border-box;
	position: fixed;
	z-index: 7010;
	/* helps pull this on the top layer e.g. in Travel Responsive */
	-webkit-transform: translateZ(1px);
            transform: translateZ(1px);
	top: auto;
	bottom: auto;
	left: auto;
	right: auto;
	display: block;
	width:  120px;
	border-radius: 3px;
	text-align: center;
	padding: 6px 6px;
	cursor: pointer;
	/*box-shadow: 0 0 6px rgba(0,0,0,0.5);*/
	/* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.zpboba-button > span{
	font-weight: bolder;
	overflow-wrap: break-word;
	word-wrap: break-word;
	display: block;
	margin-bottom: 4px;
	text-align: center;
}
.zpboba-button > img{
	max-width: 70%;
	border: 0 !important;
	box-shadow: none !important;
}

.zpboba-button.topl{
	left:  1em;
	top:   1em;
}
.zpboba-button.topr{
	right: 1em;
	top:   1em;
}
.zpboba-button.centered{
	left: 50%;
	top:  50%;
	transform: translate(-50%, -50%);
}
.zpboba-button.bottomr{
	right:  1em;
	bottom: 1em;
}
.zpboba-button.bottoml{
	left:   1em;
	bottom: 1em;
}

.zpboba-button.topcr, 
.zpboba-button.topcl{
	top:   1em;
}
.zpboba-button.bottomcr, 
.zpboba-button.bottomcl{
	bottom: 1em;
}



.zpboba-button.bottomr.on{
	border-bottom-left-radius: 0;
}
.zpboba-button.bottoml.on{
	border-bottom-right-radius: 0;
}
.zpboba-button.topr.on{
	border-top-left-radius: 0;
}
.zpboba-button.topl.on{
	border-top-right-radius: 0;
}


.zpboba-fancypopup{
	display: none;
}
.zpboba-fancypopup h2{
	color: inherit;
}
.zpboba-fancypopup h2:first-child{
	margin-top: 0 !important;
}
.zpboba-fancypopup p:last-child{
	margin: 0 !important;
}
.zpboba-fancypopup a{
	color: inherit;
	text-decoration: underline;
}
.zpboba-fancypopup a:hover{
	color: inherit;
	text-decoration: none;
}


/*
.zpboba-popup{
	box-sizing: border-box;
	position: fixed;
	z-index: 7000;
	left: auto;
	right: auto;
	bottom: auto;
	top: auto;
	visibility: hidden;
	opacity: 0;
	padding: 6px 8px;
	border-radius: 3px;
	
	transition: transform 300ms, opacity 500ms;
}
.zpboba-popup.bottomr,
.zpboba-popup.topr{
	transform: translateX(100%);
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.zpboba-popup.bottoml,
.zpboba-popup.topl{
	transform: translateX(-100%);
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.zpboba-popup.bottomr{
	bottom: 1em;
	right:  calc(1em + 100px);
}
.zpboba-popup.topr{
	top: 1em;
	right:  calc(1em + 100px);
}
.zpboba-popup.bottoml{
	bottom: 1em;
	left:  calc(1em + 100px);
}
.zpboba-popup.topl{
	top: 1em;
	left:  calc(1em + 100px);
}

.zpboba-popup.on{
	transform: translateX(0);
	visibility: visible;
	opacity: 1;
}
*/