/*! $Id$ */

/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\widgets\singleimage\singleimage.less:L5 */
.zpwBild {
  overflow: hidden;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\widgets\singleimage\singleimage.less:L8 */
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\widgets\singleimage\singleimage.less:L9 */
.zpwBild.zproundimage .fixwebkitoverflow {
  border-radius: 50%;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\widgets\singleimage\singleimage.less:L14 */
.zpwBild .fixwebkitoverflow {
  overflow: hidden !important;
  -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\widgets\singleimage\singleimage.less:L21 */
.zpwBild img.singleImage.zphoverscale {
  display: block !important;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\widgets\singleimage\singleimage.less:L25 */
.zpwBild > a:has(.zphoverscale) {
  overflow: hidden !important;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\widgets\singleimage\singleimage.less:L32 */
.zpImageGallery[data-kind='singleimage'] > a.fancybox.svg {
  display: inline !important;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\widgets\singleimage\singleimage.less:L35 */
.zpImageGallery[data-kind='singleimage'] > a.fancybox.svg img {
  width: 100%;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\widgets\singleimage\singleimage.less:L40 */
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\widgets\singleimage\singleimage.less:L41 */
.zpImageGallery[data-kind='singleimage'] img.zoomImg:hover {
  cursor: zoom-in;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\widgets\singleimage\singleimage.less:L44 */
.zpImageGallery[data-kind='singleimage'] img.zoomImg.zoomed:hover {
  cursor: all-scroll;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\widgets\singleimage\singleimage.less:L49 */
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\widgets\singleimage\singleimage.less:L50 */
.ie .zpImageGallery[data-kind='singleimage'] img.zoomImg:hover {
  cursor: pointer;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\widgets\singleimage\singleimage.less:L55 */
.zpwBild > a.zpnolayoutlinkstyles {
  display: inline-block;
  max-width: 100%;
}
/* *** CSS für BreitesBild (Design-Blocks) *** */

/* CSS für interne Vorschau */

/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\widgets\singleimage\singleimage.less:L64 */
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\widgets\singleimage\singleimage.less:L65 */
.zppreview .zpColumn.zpWideImage .zpColumnItem,
.zppreview .zpColumn.zpWideImage .zpwBild.zpWideImage {
  height: 100%;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\widgets\singleimage\singleimage.less:L69 */
.zppreview.supportsbreakout .zpColumn.zpWideImage .zpwBild.zpWideImage,
.supportsbreakout .zppreview .zpColumn.zpWideImage .zpwBild.zpWideImage {
  position: relative;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\widgets\singleimage\singleimage.less:L73 */
.zppreview .zpContainer.zpWideImageLeft .zpwBild.zpWideImage > img.singleImage,
.zppreview .zpContainer.zpWideImageRight .zpwBild.zpWideImage > img.singleImage {
  position: relative;
}
/* CSS für Design-Block */

/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\widgets\singleimage\singleimage.less:L80 */
.zpContainer.zpWideImageLeft,
.zpContainer.zpWideImageRight {
  position: relative;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\widgets\singleimage\singleimage.less:L84 */
.zpContainer.zpWideImageLeft .zpRow.zpWideImage {
  position: static;
  justify-content: flex-end;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\widgets\singleimage\singleimage.less:L88 */
.zpContainer.zpWideImageRight .zpRow.zpWideImage {
  position: static;
  justify-content: flex-start;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\widgets\singleimage\singleimage.less:L92 */
.zpContainer.zpWideImageLeft .zpColumn.zpWideImage,
.zpContainer.zpWideImageRight .zpColumn.zpWideImage {
  height: 100%;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding: 0 !important;
  position: absolute;
  top: 0;
  bottom: 0;
  right: auto;
  left: 0;
  overflow: hidden !important;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\widgets\singleimage\singleimage.less:L105 */
.zpContainer.zpWideImageRight .zpColumn.zpWideImage {
  right: 0;
  left: auto;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\widgets\singleimage\singleimage.less:L109 */
.zpContainer.zpWideImageLeft .zpwBild.zpWideImage img.singleImage,
.zpContainer.zpWideImageRight .zpwBild.zpWideImage img.singleImage {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  left: 0;
  border: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  -webkit-transition: none !important;
  transition: none !important;
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\widgets\singleimage\singleimage.less:L126 */
.zpContainer.zpWideImageRight .zpwBild.zpWideImage img.singleImage {
  left: auto;
  right: 0;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\widgets\singleimage\singleimage.less:L130 */
.zpContainer.zpWideImageLeft .zpwBild.zpWideImage a,
.zpContainer.zpWideImageRight .zpwBild.zpWideImage a {
  display: block;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\widgets\singleimage\singleimage.less:L134 */
.zpContainer.zpWideImageLeft .zpwBild.zpWideImage .zoomable,
.zpContainer.zpWideImageRight .zpwBild.zpWideImage .zoomable {
  position: static !important;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\widgets\singleimage\singleimage.less:L138 */
.zpContainer.zpWideImageLeft .zpwBild.zpWideImage .imagedescription,
.zpContainer.zpWideImageRight .zpwBild.zpWideImage .imagedescription {
  display: none !important;
}
@media (min-width: 480px) {
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\widgets\singleimage\singleimage.less:L143 */
  .zpContainer.zpWideImageLeft .zpwBild.zpWideImage,
  .zpContainer.zpWideImageRight .zpwBild.zpWideImage {
    position: static;
    -webkit-transform: none;
    transform: none;
  }
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\widgets\singleimage\singleimage.less:L149 */
  .zpContainer.zpWideImageLeft .zpwBild.zpWideImage .zpImageGallery,
  .zpContainer.zpWideImageRight .zpwBild.zpWideImage .zpImageGallery {
    height: 0;
    line-height: 0;
  }
}
@media (max-width: 479px) {
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\widgets\singleimage\singleimage.less:L156 */
  .zpContainer.zpWideImageLeft .zpColumn.zpWideImage,
  .zpContainer.zpWideImageRight .zpColumn.zpWideImage {
    padding: 0;
    position: relative;
    overflow: inherit !important;
  }
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\widgets\singleimage\singleimage.less:L162 */
  .zpContainer.zpWideImageLeft .zpRow.zpWideImage .zpColumn.zpWideImage .zpwBild.zpWideImage img.singleImage,
  .zpContainer.zpWideImageRight .zpRow.zpWideImage .zpColumn.zpWideImage .zpwBild.zpWideImage img.singleImage {
    width: 100%;
    position: relative;
    left: auto;
    transform: none !important;
  }
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\widgets\singleimage\singleimage.less:L169 */
  body:not(.withnews) .zpContainer.zpWideImageLeft.zpBreakout:not(.hasNews) .zpRow.zpWideImage,
  body:not(.withnews) .zpContainer.zpWideImageRight.zpBreakout:not(.hasNews) .zpRow.zpWideImage {
    max-width: none !important;
  }
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\widgets\singleimage\singleimage.less:L173 */
  .zpContainer.zpWideImageRight .zpRow.zpWideImage {
    flex-direction: column-reverse;
  }
}
