/*!
 * Layout: Clean Style Responsive
 * $Id$
 * Copyright Zeta Software GmbH 2015
 */

/* Global */

/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L14 */
html {
  overflow-y: scroll;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L17 */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1em;
  color: #FFFFFF;
  background-color: #1D1D1D;
  background-repeat: repeat;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L27 */
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-hyphens: none;
  -ms-hyphens: none;
  -o-hyphens: none;
  hyphens: none;
  -webkit-hyphenate-limit-lines: 2;
  -moz-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-lines: 2;
  hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-chars: auto 3;
  -moz-hyphenate-limit-chars: auto 3;
  -ms-hyphenate-limit-chars: auto 3;
  hyphenate-limit-chars: auto 3;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L30 */
p {
  -webkit-hyphens: none;
  -ms-hyphens: none;
  -o-hyphens: none;
  hyphens: none;
  -webkit-hyphenate-limit-lines: 2;
  -moz-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-lines: 2;
  hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-chars: auto 3;
  -moz-hyphenate-limit-chars: auto 3;
  -ms-hyphenate-limit-chars: auto 3;
  hyphenate-limit-chars: auto 3;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L33 */
h1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0px 0 15px 0;
  padding: 0;
  font-size: 42px;
  font-weight: normal;
  line-height: normal;
  color: #333333;
  position: relative;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L43 */
h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0px 0 15px 0;
  padding: 0;
  font-size: 42px;
  font-weight: normal;
  line-height: normal;
  color: #333333;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L52 */
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0px 0 5px 0;
  padding: 0;
  font-size: 28px;
  font-weight: normal;
  line-height: normal;
  color: #333333;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L61 */
p {
  margin: 0 0 15px 0;
  padding: 0;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L65 */
ul,
ol {
  margin: 0 0 15px 25px;
  padding: 0;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L69 */
ul li {
  margin: 0;
  padding: 0;
  list-style: square;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L74 */
ol li {
  margin: 0;
  padding: 0;
  list-style: decimal;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L79 */
table {
  margin: 0 0 15px 0;
  padding: 0;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L83 */
td {
  vertical-align: top;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L86 */
img {
  margin: 0;
  padding: 0;
  border-style: none;
  max-width: 100%;
  height: auto;
}
/* Links */

/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L94 */
a {
  color: #1E8FC7;
  text-decoration: none;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L98 */
a:hover {
  color: #1E8FC7;
  text-decoration: underline;
}
/* Top */

/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L103 */
#top {
  margin: 0;
  padding: 0;
}
/* Wrapper */

/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L108 */
#wrapper {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 952px;
}
/* Framebox */

/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L114 */
#framebox {
  margin: 0;
  padding: 0;
  border-right: 1px solid #efefef;
  border-left: 1px solid #efefef;
}
/* Topline */

/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L121 */
#topline {
  margin: 0;
  padding: 20px 30px;
  min-height: 1px;
  background-color: #262626;
  border-bottom: 1px solid #e3e3e3;
}
/* Webdescription */

/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L129 */
#webdescription {
  float: left;
  margin: 0;
  padding: 0;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L134 */
#logo {
  float: left;
  margin: 0 15px 0 0;
  padding: 0px 0 0 0;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L139 */
#webtext {
  float: left;
  margin: 0;
  padding: 8px 0 0 0;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L144 */
#webname {
  font-family: Aboreto;
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 55px;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L153 */
#webname a {
  color: #FFFFFF;
  text-decoration: none;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L157 */
#slogan {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  color: #333333;
  text-transform: none;
}
/* Search */

/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L167 */
#search,
#msearch {
  float: right;
  margin: 0;
  padding: 7px 0 0 0;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L172 */
#msearch.mobile {
  float: none;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  display: none;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L180 */
#msearch.mobile .zpsearchform {
  width: 100%;
  box-sizing: border-box;
  height: auto;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L186 */
#msearch.mobile .zpsearchform .zpsearchfield {
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 0;
  padding-top: 6px;
  padding-bottom: 6px;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L194 */
.zpsearchform {
  margin: 0;
  padding: 0;
  width: 220px;
  min-height: 30px;
  position: relative;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L201 */
.zpsearchform input {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L204 */
.zpsearchfield {
  margin: 0;
  padding: 0 33px 0 10px;
  width: 175px;
  min-height: 28px;
  border: 1px solid #e3e3e3;
  font-size: 13px;
  color: #333333;
  background-color: #FCFCFC;
  position: absolute;
  top: 0;
  left: 0;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L217 */
.zpsearchbutton {
  margin: 0;
  padding: 0;
  width: 28px;
  height: 28px;
  border: 0;
  position: absolute;
  top: 1px;
  right: 1px;
}
/* Navbar */

/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L228 */
#navbar {
  margin: 0;
  padding: 20px 30px;
  border-bottom: 1px solid #e3e3e3;
  background-color: #262626;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L234 */
#mobilenavtoggle {
  font-family: Aboreto;
  color: #D7D7D7;
  font-weight: bold;
  text-align: right;
  display: none;
}
/* Mainmenu */

/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L242 */
ul.mainmenu {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 6001;
  float: left;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L249 */
ul.mainmenu li {
  float: left;
  margin: 0 10px 0 0;
  padding: 0;
  list-style: none;
  position: relative;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L256 */
ul.mainmenu li a {
  display: block;
  margin: 0;
  padding: 8px 15px;
  font-family: Aboreto;
  font-size: 0.85em;
  color: #FFFFFF;
  background-color: transparent;
  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L268 */
.notouch ul.mainmenu li > a:hover {
  color: #2D3736;
  background-color: #7A7A7A;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L272 */
ul.mainmenu li > a.active,
ul.mainmenu > li.open > a {
  color: #EFD283;
  background-color: #7A7A7A;
}
/* Dropdown */

/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L280 */
.dropdown-submenu > a:after {
  content: "›";
  color: inherit;
  margin-left: 8px;
  /*
    content: ""; 
    width: 0;
    height: 0;
    display: inline-block;
    float: none;
    margin-top: -3px;
    margin-left: 5px;
    vertical-align: middle;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #E9EDEC;
    opacity: 0.75; 
    */

}
/*
.notouch .dropdown-submenu > a:hover:after {
	border-left-color: #ffffff;
}
.dropdown-submenu a.active:after, 
{
	border-left-color: #ffffff;
}
*/

/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L309 */
ul.mainmenu > li > ul {
  padding: 10px;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L312 */
ul.mainmenu ul {
  position: absolute;
  margin: 0;
  display: none;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L317 */
ul.mainmenu ul ul {
  background-color: #6D6D6D;
  top: 0;
  left: 100%;
  border-left: 1px solid #ffffff;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L324 */
ul.mainmenu ul li {
  float: none;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L331 */
ul.mainmenu ul li {
  display: block;
  margin: 0;
  padding: 0;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L336 */
ul.mainmenu ul li > a {
  padding: 8px 15px;
  height: auto;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: #E9EDEC;
  background-color: #6D6D6D;
  text-transform: none;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L345 */
.notouch ul.mainmenu ul li > a:hover {
  color: #ffffff;
  background-color: #6D6D6D;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L349 */
ul.mainmenu ul li > a.active {
  color: #ffffff;
  background-color: #6D6D6D;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L354 */
.notouch ul.mainmenu > li:hover > ul {
  top: 26px;
  left: -10px;
  z-index: 299;
}
/* Header */

/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L361 */
#header {
  margin: 0;
  padding: 30px;
  background-color: #262626;
  border-bottom: 1px solid #e3e3e3;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L368 */
.flexslider {
  box-shadow: none;
  overflow: visible;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L372 */
.flexslider .slides > li {
  position: relative;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L375 */
.flex-caption {
  margin: 0;
  padding: 20px 30px;
  width: 100%;
  box-sizing: border-box;
  font-size: 1em;
  line-height: 1.45;
  color: #ffffff;
  background-color: transparent;
  background-image: url(../assets/stock-images/caption.png);
  position: absolute;
  left: 0;
  bottom: 0;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L391 */
.flex-caption span,
.flex-caption h1,
.flex-caption h2,
.caption h3 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: block;
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 32px;
  font-weight: normal;
  color: #ffffff;
  line-height: normal;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L401 */
.flex-caption p {
  margin: 0 0 10px 0;
  padding: 0;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L405 */
.flex-caption a {
  color: #1E8FC7;
  text-decoration: none;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L409 */
.flex-caption a:hover {
  color: #1E8FC7;
  text-decoration: underline;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L413 */
.flex-direction-nav li {
  list-style: none;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L416 */
.flex-control-nav,
.flex-control-paging {
  position: relative;
  margin-top: 10px;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L421 */
.flex-control-nav li {
  margin: 0 2px;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L424 */
.flex-control-paging li a {
  width: 14px;
  height: 14px;
  background: #dadada;
  box-shadow: none;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L430 */
.flex-control-paging li a.flex-active {
  background: #1E8FC7;
}
/* Breadcrumb */

/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L435 */
#breadcrumb {
  margin: 0;
  padding: 20px 30px;
  font-size: 12px;
  color: #333333;
  background-color: #FCFCFC;
  border-bottom: 1px solid #e3e3e3;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L443 */
#breadcrumb a {
  padding: 0 5px;
  color: #1E8FC7;
  text-decoration: none;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L448 */
#breadcrumb a:hover {
  color: #1E8FC7;
  text-decoration: underline;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L452 */
#breadcrumb span.divider {
  color: #e3e3e3;
}
/* Contentbox */

/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L456 */
#contentbox {
  margin: 0;
  padding: 30px;
  background-color: #292929;
  border-bottom: 1px solid #e3e3e3;
}
/* Button */

/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L465 */
#contentbox a.button,
input.button,
a.button {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 0;
  font-size: 12px !important;
  font-weight: normal !important;
  text-decoration: none;
  text-transform: uppercase !important;
  line-height: normal;
  color: #ffffff !important;
  background-color: #7A7A7A !important;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L478 */
#contentbox #sidebarright a.button,
#contentbox #sidebarleft a.button,
input.button {
  margin: 0 10px 0 0;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L481 */
#contentbox a.button:hover,
input.button:hover,
a.button:hover {
  color: #ffffff !important;
  background-color: #6d6d6d !important;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L486 */
#contentbox a.button span,
a.button span,
input.button {
  display: block;
  margin: 0;
  padding: 8px 15px !important;
}
/* Content */

/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L492 */
#floatcontentleft,
#floatcontentright {
  float: left;
  margin: 0;
  padding: 0;
  width: 75%;
  width: calc(77% - 30px);
  line-height: 1.45;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L500 */
#floatcontentright {
  float: right;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L503 */
#floatcontentleft:after,
#floatcontentright:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L510 */
#content {
  margin: 0;
  padding: 0;
  line-height: 1.45;
}
/* Sidebar */

/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L516 */
#sidebar {
  display: table-cell;
  width: 25%;
  width: calc(23% + 30px);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L523 */
.sidebarright {
  float: right;
  padding-left: 30px;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L527 */
.sidebarleft {
  float: left;
  padding-right: 30px;
}
/* News */

/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L532 */
.newsbox {
  margin: 0;
  padding: 0;
  line-height: 1.45;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L537 */
.newsbox h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: normal;
  color: #333333;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L543 */
.newstext {
  margin: 0;
  padding: 0;
  font-size: 1em;
  color: #333333;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L549 */
.newstext p {
  margin: 0 0 15px 0;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L552 */
.newstext a {
  color: #1E8FC7;
  text-decoration: none;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L556 */
.newstext a:hover {
  color: #1E8FC7;
  text-decoration: underline;
}
/* Articles */

/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L561 */
.articlearea {
  margin: 0;
  padding: 0;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L565 */
.articleimage {
  margin: 0;
  padding: 4px 0 0 0;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L569 */
.articletext {
  margin: 0;
  padding: 0;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L573 */
.twocolumnleft {
  float: left;
  margin: 0;
  padding: 0;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L578 */
.twocolumnleft > div {
  margin: 0;
  padding: 0 12px 0 0;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L582 */
.twocolumnright {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L587 */
.twocolumnright > div {
  margin: 0;
  padding: 0 0 0 12px;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L591 */
.bildunterschrift {
  display: block;
  color: #FFFFFF;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L595 */
.floatarticle {
  float: left;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L601 */
.floatarticle > div {
  margin: 0;
  padding: 0 30px 0 0;
}
/* Form */

/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L606 */
.zp-form {
  max-width: 100%;
  display: inline-block;
  margin: 0;
  padding: 0 0 10px 0;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L612 */
.zp-form p {
  margin: 0;
  padding: 0;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L616 */
.zp-form table {
  margin: 0;
  padding: 0;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L620 */
.zp-form td {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  vertical-align: middle;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L626 */
.zp-form input,
.zp-form input.typetext,
.zp-form textarea,
.zp-form select {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: #666666;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L631 */
.zp-form .label,
.zp-form .field {
  padding: 3px 10px 3px 0;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L634 */
.zp-form .desc {
  padding: 10px 10px 10px 0;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L637 */
.zp-form .multiline {
  padding: 4px 10px 0 0;
  vertical-align: top;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L641 */
.zp-form .submit {
  padding: 0;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L644 */
.zp-form .separator {
  margin: 10px 10px 10px 0;
  padding: 0;
  line-height: 1px;
  height: 1px;
  border-bottom: 1px solid #FFFFFF;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L651 */
.zp-form input.button {
  border: 0;
}
/* Form Anti Spam */

/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L656 */
.asfield {
  display: none;
}
/* Teaser */

/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L660 */
#banner h1,
#banner h2,
#banner h3,
#afterfooter h1,
#afterfooter h2,
#afterfooter h3 {
  font-family: 'Open Sans Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 26px;
  color: #333333;
  font-weight: normal;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L671 */
#banner,
#afterfooter {
  margin: 0;
  padding: 20px 30px;
  font-size: 12px;
  color: #333333;
  line-height: 18px;
  background-color: #FCFCFC;
  border-bottom: 1px solid #e3e3e3;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L680 */
#afterfooter {
  border-top: 1px solid #e3e3e3;
  border-bottom: 0;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L684 */
#banner a:not(.button),
#afterfooter a:not(.button) {
  color: #1E8FC7;
  text-decoration: none;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L688 */
#banner a:not(.button):hover,
#afterfooter a:not(.button):hover {
  color: #1E8FC7;
  text-decoration: underline;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L692 */
#banner p,
#afterfooter p {
  margin: 0 0 15px 0;
  padding: 0;
}
/* Footer */

/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L697 */
#footer {
  margin: 0;
  padding: 20px 30px;
  font-size: 12px;
  color: #FFFFFF;
  background-color: #262626;
  min-height: 14px;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L705 */
#footerinfo {
  float: right;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/* Extramenu */

/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L712 */
#xmenu {
  float: left;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L718 */
#xmenu a {
  margin: 0;
  padding: 0 10px 0 0;
  font-size: 12px;
  color: #1E8FC7;
  text-decoration: none;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L725 */
#xmenu a:hover {
  color: #1E8FC7;
  text-decoration: underline;
}
/***** ONLINESHOP *****/

/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L730 */
.zpSO-OnlineShop-table {
  width: 100%;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L733 */
.zpSO-OnlineShop-table th {
  margin: 0;
  padding: 8px 10px;
  font-weight: bold;
  text-align: left;
  color: #EFD283;
  background-color: #7A7A7A;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L741 */
.zpSO-OnlineShop-table td {
  margin: 0;
  padding: 8px 10px;
  text-align: left;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L746 */
.zpSO-OnlineShop-row1 td,
.zpSO-OnlineShop-row2 td {
  margin: 0;
  padding: 8px 10px;
  text-align: left;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L751 */
.zpSO-OnlineShop-row2 td {
  background-color: rgba(0, 0, 0, 0.05);
}
/* ZP */

/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L755 */
.zp {
  color: #FFFFFF !important;
  text-decoration: none !important;
}
/* Clear */

/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L760 */
.clear {
  clear: both;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L764 */
.clearx:after,
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive Breakpoints */

@media (min-width: 769px) {
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L772 */
  .notouch ul.mainmenu li:hover > ul {
    display: block;
  }
}
@media (max-width: 768px) {
  /* hamburger nav */
  
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L778 */
  #navbar {
    background-color: #262626;
  }
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L781 */
  #mobilenavtoggle {
    display: block;
  }
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L785 */
  #search.desktop {
    display: none;
  }
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L786 */
  #navbar.on #msearch.mobile {
    display: block;
  }
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L790 */
  ul.mainmenu {
    display: none;
    float: none;
    margin: 0 !important;
  }
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L795 */
  ul.mainmenu.on {
    display: block;
  }
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L798 */
  ul.mainmenu li:not(.active) > ul {
    display: none;
  }
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L801 */
  ul.mainmenu li.active > ul {
    display: block;
  }
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L804 */
  .notouch ul.mainmenu > li:hover > ul {
    top: auto;
    left: auto;
  }
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L808 */
  ul.mainmenu > li > ul {
    padding: 0;
  }
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L812 */
  ul.mainmenu li,
  ul.mainmenu li.active {
    float: none;
    display: list-item;
    margin: 0;
  }
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L818 */
  .touch ul.mainmenu li a {
    padding-left: 0;
  }
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L821 */
  ul.mainmenu li a,
  .notouch ul.mainmenu li a,
  ul.mainmenu ul li > a,
  .notouch ul.mainmenu ul li > a {
    color: #FFFFFF;
    background-color: transparent;
  }
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L828 */
  ul.mainmenu li a.active,
  .notouch ul.mainmenu li a.active,
  ul.mainmenu ul li > a.active,
  .notouch ul.mainmenu ul li > a.active {
    color: #EFD283;
    background-color: #7A7A7A;
  }
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L836 */
  ul.mainmenu li.haschilds > a {
    position: relative;
    padding-left: 2.2em;
  }
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L840 */
  ul.mainmenu li.haschilds > a:before {
    content: '';
    box-sizing: content-box;
    position: absolute;
    top: 47%;
    margin-top: -0.25em;
    left: 11px;
    height: 0.5em;
    width: 0.5em;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-style: solid;
    border-width: 1px 1px 0 0;
    display: block;
    -webkit-transition: -webkit-transform 200ms ease;
    transition: transform 200ms ease;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L860 */
  ul.mainmenu li.haschilds.open > a:before,
  ul.mainmenu li.haschilds.clicked > a:before {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    margin-top: -0.5em;
    left: 13px;
  }
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L867 */
  ul.mainmenu.on,
  ul.mainmenu.on ul {
    position: relative;
    margin: 0 0 0 15px;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    border: 0;
    min-width: 160px;
    float: none;
    padding: 0;
    background-color: transparent;
  }
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L878 */
  .dropdown-submenu > a:after {
    display: none;
  }
}
@media (max-width: 767px) {
  /* remove news column */
  
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L884 */
  #floatcontentleft,
  #floatcontentright,
  #sidebar {
    display: block;
    width: 100%;
    float: none;
    padding: 0;
  }
}
@media (max-width: 580px) {
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L894 */
  #wrapper {
    padding: 0;
  }
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L897 */
  #framebox {
    border: 0;
  }
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L901 */
  #topline,
  #navbar,
  #header,
  .flex-caption,
  #breadcrumb,
  #banner,
  #afterfooter,
  #contentbox,
  #footer {
    padding: 20px;
  }
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L911 */
  #header {
    padding: 0;
  }
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L914 */
  .flexslider {
    aspect-ratio: auto;
  }
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L918 */
  .flex-caption {
    position: relative;
  }
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L923 */
  div.zpRow > div.zpColumn > div.zpColumnItem {
    overflow: visible;
  }
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L926 */
  div.articlearea.popupimage {
    margin-left: -20px;
    margin-right: -20px;
  }
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L930 */
  div.articlearea.popupimage span.imagedescription {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* CSS for Print */

@media print {
  /* Global */
  
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L941 */
  body {
    font-family: Arial, sans-serif;
    font-size: 10pt;
    color: #000000;
    background-color: #ffffff;
  }
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L947 */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Arial, sans-serif;
    font-size: 14pt;
    color: #000000;
    page-break-after: avoid;
  }
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L953 */
  h2 {
    font-size: 12pt;
  }
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L956 */
  h3,
  h4,
  h5,
  h6 {
    font-size: 10pt;
  }
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L959 */
  ul,
  ol {
    page-break-inside: avoid;
  }
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L962 */
  img {
    page-break-inside: avoid;
  }
  /* Links */
  
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L966 */
  a,
  a:hover {
    color: #000000;
    text-decoration: none;
  }
  /* Wrapper */
  
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L971 */
  #wrapper {
    margin: 0;
    padding: 0;
    width: auto;
  }
  /* Framebox */
  
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L977 */
  #framebox {
    width: auto;
    border: 0;
  }
  /* Contentbox */
  
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L982 */
  #contentbox {
    margin: 0;
    padding: 0;
    border-bottom: 0;
  }
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L987 */
  #floatcontentleft,
  #floatcontentright,
  #content {
    float: none;
    width: auto;
    line-height: normal;
  }
  /* Articles */
  
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L993 */
  .floatarticle {
    float: none;
  }
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L996 */
  .floatarticle > div {
    padding: 0;
  }
  /* Button */
  
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L1000 */
  #contentbox a.button,
  input.button,
  #contentbox a.button:hover,
  input.button:hover {
    font-size: 10pt;
    text-transform: none;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #000000;
  }
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L1008 */
  #footer {
    padding-left: 0;
    padding-right: 0;
    background-color: #ffffff;
    color: black;
  }
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L1014 */
  #footerinfo {
    float: none;
  }
  /* Display None */
  
  /* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L1018 */
  #search,
  #navbar,
  #header,
  #slides,
  #breadcrumb,
  .zp-form,
  #sidebar,
  #banner,
  #afterfooter,
  #xmenu {
    display: none;
  }
  @page {
    margin: 2cm;
  }
}
/* ZP-Grid */

/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L1026 */
.zpgrid {
  margin-left: -15px;
  margin-right: -15px;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L1030 */
.zpContainer.styled div.zpRow .zpColumn {
  margin-top: 1em;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L1033 */
.zpContainer.zpBreakout {
  width: auto !important;
  max-width: 950px !important;
  margin: 0 -15px !important;
  padding: 0 15px !important;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L1039 */
#floatcontentleft .zpContainer.zpBreakout,
#floatcontentright .zpContainer.zpBreakout {
  margin: 0 !important;
  padding: 0 !important;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L1044 */
.zpContainer.zpBreakout .zpRow {
  width: auto !important;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L1047 */
body:not(.withnews) .zpColumn .zpBreakout:not(.hasNews) {
  width: auto !important;
  margin-left: -30px !important;
  margin-right: -30px !important;
}
/* C:\Users\Nancy\AppData\Local\Zeta Producer 16\packaging\layouts\Clean Style Responsive\assets\styles.less:L1052 */
#sidebar div.zpRow .zpColumn {
  padding: 0;
}
